@font-face {
  font-family: "Trip Sans";
  src: url("../../fonts/TripSans-Regular.woff") format("woff2"),
    url("../../fonts/TripSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans";
  src: url("../../fonts/TripSans-Medium.woff2") format("woff2"),
    url("../../fonts/TripSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Trip Sans";
}
.container {
  width: 1130px;
  /* background-color: rgb(214, 206, 206); */
  margin: 30px auto;
}
#header {
  width: 1130px;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  position: fixed;
  z-index: 100;
}

.icone-header {
  display: none;
  font-size: 20px;
}
header img {
  width: 180px;
}

.fg--search {
  background: white;
  position: relative;
  width: 300px;
}

.fg--search input {
  width: 100%;
  display: block;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  padding: 15px;
  margin-left: 10px;
  z-index: 2;
}

a:hover {
  color: black;
  background-color: #e0e0e0;
}

input {
  width: 250px;
  margin: 5px 10px;
  border-radius: 20px;
  border: solid 2px #e0e0e0;
  box-sizing: content-box;
  padding: 10px 40px;
}

header ul {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
}

header li {
  /* background: yellow; */
  align-items: flex-end;
  justify-content: center;
  border-radius: 20px;
  /* border: 2px solid black; */
  margin: 0px 10px;
  padding: 10px 4px;
}

header li:hover {
  background: #e0e0e0;
  cursor: pointer;
}
#connectez-vous {
  background: black;
  color: white;
  padding: 10px;
}

/* Bouton Connectez-vous */

.button-connect {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-size: inherit;
}

.button-connect:hover {
  cursor: pointer;
}
/* MODAL */

.hidden-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
}

.display-modal {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 101;
}

.button-x {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
  font-size: 30px;
  background: yellow;
  box-sizing: border-box;
  width: 30px;
}

.button-x:hover {
  cursor: pointer;
}
.form-container {
  background-color: white;
  margin: 100px auto;
  padding: 30px 70px;
  border: 1pxpx black solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header div p {
  color: black;
  font-family: inherit;
  font-size: 40px;
  font-weight: bold;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 0;
  border: 2px solid black;
  width: 260px;
  height: 30px;
  font-family: "Trip Sans";
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
form textarea {
  border: 2px solid blue;
  border-radius: none;
  width: 260px;
  height: 112px;
  margin: 10px 0;
  font-family: inherit;
  font-size: inherit;
}

form input[type="submit"] {
  background-color: black;
  color: white;
  width: 260px;
  height: 30px;
  /* box-sizing: border-box; */
  text-align: center;
}
form input[type="submit"]:hover {
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  width: 1130px;
  background-color: white;
  display: flex;
  margin: 90px auto 30px;
}

#red {
  color: #fd5d5d;
}

.menu {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.menu-list {
  border: solid 2px black;
  padding: 10px;
  margin-right: 10px;
  background: white;
  border-radius: 20px;
  height: 40px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.exclude {
  display: none;
}
.menu-list:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.pictures {
  height: 430px;
  margin-bottom: 100px;
  display: flex;
}

.pictures .col-1 {
  flex: 1;
  height: 100%;
  margin-right: 2px;
}

.pictures .col-2 {
  width: 480px;
  height: 100%;
}

.pictures .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pictures .col-2 img {
  width: 100%;
  height: calc(50% - 1.5px);
  object-fit: cover;
}

.baseline {
  font-size: 13px;
  color: grey;
  display: flex;
  justify-content: space-between;
}

.list-baseline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0px;
}
p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  margin-bottom: 80px;
}

.paris-p {
  width: 50%;
  margin-left: 0%;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.p1 {
  font-size: 18px;
  margin-bottom: 40px;
}

.p2 {
  background-color: white;
  font-family: "trip sans";
  font-size: 16px;
  border: none;
  text-decoration: underline;
  text-align: left;
  padding: 0px;
}

.p2:hover:hover {
  cursor: pointer;
}

.container-carrousel {
  display: flex;
}

.se-divertir {
  width: 25%;
  /* padding-right: 30px; */
  padding-right: 10px;
  box-sizing: border-box;
}
li img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.caroussel {
  /* border: 7px black solid; */
  width: 75%;
  /* height: 300px; */
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.caroussel::-webkit-scrollbar {
  display: none;
}
.caroussel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ul-caroussel {
  width: 272px;
  /* border: red 2px solid; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 13px;
}

.titre-carrousel {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0px;
}

.baseline-carrousel {
  height: 17px;
  font-size: 14px;
  color: #333333;
  padding: 10px 0px;
}
.circle {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
}

.patch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

ul li div span {
  font-size: 12px;
  color: #333333;
}

footer {
  margin: 0 auto;
  background-color: #faf1ed;
  height: 300px;
  display: flex;
  text-align: center;

  align-items: center;
}

footer div img {
  width: 70px;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.finish {
  display: flex;
  justify-content: center;
  align-items: center;
}
